/*----- Header start -----*/
.cabecalho {
  width: 100%;
  min-height: 80px;
  background: var(--bg-base);
  border-bottom: var(--green-border);
  padding: 0 1rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr 5rem;
  align-items: center;
}

/* Add um efeito de vidro fosco */
/* -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);*/

.cabecalho .logo h2 {
  font-size: 2rem;
  text-align: left;
  padding-left: 2rem;
  color: var(--tertiary-color);
}

.cabecalho .menu ul {
  display: flex;
  gap: 1rem;
  color: var(--text-color);
}
.cabecalho .menu ul li {
  max-width: 8rem;
  text-align: center;
  list-style: none;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--primary-color);
  border-radius: var(--border-radius-1);
  flex: 1;
}

.cabecalho a {
  color: var(--text-color);
  text-decoration: none;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .cabecalho .menu {
    display: none;
  }
}
/*----- Header end -----*/

/*----- About start -----*/
.about .container {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  overflow: hidden;
}

.about .about-profile {
  grid-row: 1;
  display: grid;
  place-items: center;
}

.about .about-profile img {
  width: 50%;
  border: 10px solid var(--primary-color);
  border-radius: var(--border-radius-2);
  object-fit: cover;
  overflow: hidden;
}

.about .about-intro {
  grid-row: 2;
  padding: 1rem;
  font-family: var(--font-secondary);
  text-align: center;
}

.about .about-intro h1 {
  font-weight: 700;
  font-size: 2rem;
}

.about .about-intro span.name {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
  margin: 0.5rem 0;
}

.about .about-intro p {
  font-family: var(--text-primary);
  color: var(--text-color-1);
}

.about .about-description {
  grid-row: 3;
  font-size: 1rem;
  padding: 1rem;
  line-height: 180%;
  text-align: center;
}

.about .about-description h2 {
  font-size: 2rem;
  margin: 1rem 0 2rem;
  font-family: var(--font-subtitle);
  text-align: center;
}

.about .about-description p {
  font-family: var(--text-primary);
  color: var(--text-color-1);
}
/*----- About end -----*/

/*----- Habilidades start -----*/
.skills {
  overflow: hidden;
}

.skills img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
