/* Menu bar start*/

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 0 1rem;
  background: var(--bg-base);
  border-bottom: var(--green-border);
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  font-family: var(--font-subtitle);
}

#menu-bar:has(.menu-mobile.active) {
  border-bottom: none;
}

.menu .menu-icon img {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

.menu .menu-mobile {
  display: none;
}

.menu .menu-mobile.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 80px;
  right: 0;
  width: 50%;
  height: 100vh;
  background: var(--bg-base-transparent);
  padding: 1rem;
  font-size: 1.8rem;
  z-index: 1000;
  text-align: center;
}

.menu .menu-mobile .theme-mode {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu .menu-mobile img {
  width: 32px;
  height: 32px;
  display: flex;
  align-self: center;
}

.menu_list-mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu .menu-large {
  display: none;
}

#menu-bar a {
  text-decoration: none;
  color: var(--text-color);
}

#menu-bar a:hover {
  color: var(--primary-color);
}

/* Responsive menu */

@media screen and (min-width: 768px) {
  #menu-bar {
    font-size: 1.2rem;
    font-weight: 600;
  }

  #menu-bar .menu .menu-large {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    flex: 1;
  }

  #menu-bar .menu-large .menu-list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  #menu-bar .menu .menu-large .theme-mode {
    border: 2px solid #37f21b;
    padding: 0.2rem;
    border-radius: var(--border-radius-1);
    margin-right: 1rem;
    cursor: pointer;
  }

  #menu-bar .menu .menu-large .theme-mode img {
    width: 32px;
    height: 32px;

    display: flex;
    align-self: center;
    flex: 1;
    transition: 0.6s ease-in-out;
  }

  #menu-bar .menu .menu-large .theme-mode img:hover {
    transform: scale(1.15);
  }

  #menu-bar .menu .menu-icon {
    display: none;
  }

  .menu .menu-mobile.active {
    display: none;
  }

  #menu-bar .menu .menu-large .menu-list li {
    transition: 0.6s ease;
  }

  #menu-bar .menu .menu-large .menu-list li:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 900px) {
  #menu-bar {
    padding: 0 0.5rem;
    font-size: 1.5rem;
  }
}
/* Menu bar end */

/* main styles start */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 100vw;
}

#about {
  grid-row: 1 / 2;
}

#skills {
  grid-row: 2 / 3;
}

#training {
  grid-row: 3 / 4;
}

#projects {
  grid-row: 4 / 5;
}
/* main styles end */

/* Section about start */
#about .container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  margin: 0 auto;
  flex: 1;
  overflow: hidden;
  width: 90vw;
}

#about .container .about-profile {
  grid-row: 1;
  height: fit-content;
}

#about .container .about-profile img {
  width: 60%;
  border-radius: var(--border-radius-2);
  border: 8px solid #37f21b;
  flex: 1;
}

#about .container .about-intro {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  gap: 5rem;
  line-height: 180%;
}

.about-intro h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-intro p {
  color: var(--text-color-1);
}

.about-intro .name {
  color: var(--primary-color);
  font-size: 2rem;
}

.about-description h2 {
  font-size: 2.5rem;
  margin: 1.2rem 0;
}

.about-description p {
  color: var(--text-color-1);
  font-size: 1.2rem;
  line-height: 180%;
  margin-bottom: 2rem;
  font-family: var(--font-primary);
}

/* Responsive about section */

@media screen and (min-width: 600px) {
  #about .container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    width: 100vw;
    text-align: left;
    height: fit-content;
    overflow: hidden;
  }

  #about .container .about-profile {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  #about .container .about-profile img {
    width: 80%;
  }

  #about .container .about-intro {
    grid-row: 1;
    grid-column: span 2;
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  #about .container .about-description {
    grid-row: 2;
    grid-column: span 3;
    padding-left: 1rem;
  }

  .about-description h2 {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  #about .container .about-profile img {
    width: 100%;
  }

  #about .container .about-intro {
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  #about .container .about-description {
    padding-left: 2rem;
  }
}

/* Section about end */

/* Section skills start */

.skills_box--card img {
  width: 64px;
  height: 64px;
}
