@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #37f21b;
  --secondary-color: #26a612;
  --tertiary-color: #bdf2ae;
  --text-color: #fff;
  --text-color-1: #828282;
  --bg-base: #0a0a0d;
  --bg-base-transparent: rgba(10, 10, 13, 0.9);
  --bg-secondary: #171719;
  --gray-border: 1px solid rgba(70, 68, 68, 0.633);
  --green-border: 1px solid rgba(56, 242, 27, 0.8);
  --border-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.188),
    0 0 0 1px hsla(0, 2%, 13%, 0.05), 0 0.3px 0.4px hsla(0, 2%, 13%, 0.05),
    0 0.9px 1.5px hsla(0, 2%, 36%, 0.045), 0 3.5px 6px hsla(0, 1%, 20%, 0.09);

  /* fonts */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Orbitron", sans-serif;
  --font-subtitle: "Oxanium";
  --font-text: "Anonymous Pro", "Montserrat", monospace, sans-serif;

  /* border radius */
  --border-radius-1: 0.5rem;
  --border-radius-2: 50%;
}

body.light {
  --primary-color: #37f21b;
  --secondary-color: #26a612;
  --tertiary-color: #bdf2ae;
  --text-color: #010101;
  --bg-base: #efeff1;
  --bg-secondary: #ffffff;
  --bg-base-transparent: rgba(239, 239, 241, 0.9);
  --gray-border: 1px solid rgba(89, 88, 88, 0.633);
  --border-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

html,
body {
  min-height: 100vh;
  background-color: var(--bg-base);
  color: var(--text-color);
  font-family: var(--font-primary);
}

body {
  overflow: hidden;
  overflow-y: auto;
  max-width: 2000px;
  margin: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px 120px 20px;
  overflow: hidden;
}

.icon_area {
  width: 64px;
  height: 64px;
}
