@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #37f21b;
  --secondary-color: #26a612;
  --tertiary-color: #bdf2ae;
  --text-color: #fff;
  --bg-base: #0a0a0d;
  --bg-secondary: #171719;
  --gray-border: 1px solid rgba(70, 68, 68, 0.633);
  --border-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.188),
    0 0 0 1px hsla(0, 2%, 13%, 0.05), 0 0.3px 0.4px hsla(0, 2%, 13%, 0.05),
    0 0.9px 1.5px hsla(0, 2%, 36%, 0.045), 0 3.5px 6px hsla(0, 1%, 20%, 0.09);

  /* fonts */
  --font-primary: "Montserrat", sans-serif;

  --border-radius-1: 0.5rem;
  --border-radius-2: 50%;
}

[data-theme="light"] {
  --primary-color: #37f21b;
  --secondary-color: #26a612;
  --tertiary-color: #bdf2ae;
  --text-color: #010101;
  --bg-base: #efeff1;
  --bg-secondary: #ffffff;
  --gray-border: 1px solid rgba(89, 88, 88, 0.633);
  --border-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

html,
body {
  min-height: 100vh;
  background-color: var(--bg-base);
  color: var(--text-color);
  font-family: var(--font-primary);
}

body {
  overflow: hidden;
  overflow-y: auto;
  max-width: 2000px;
  margin: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px 120px 20px;
  overflow: hidden;
}

.spotlight {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 312px;
  background: var(--primary-color);
  background: linear-gradient(
    190deg,
    var(--primary-color) 0%,
    transparent 100%
  );
  border-radius: 50%;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 1;
}
